In [30]:
import pandas as pd
from pandas_profiling import ProfileReport
import numpy as np
import matplotlib.pyplot as plt
from PIL import Image

In [31]:
df = pd.read_csv("data/train.csv")
df.head()

   image_id  center_id patient_id  image_num label
0  006388_0         11     006388          0    CE
1  008e5c_0         11     008e5c          0    CE
2  00c058_0         11     00c058          0   LAA
3  01adc5_0         11     01adc5          0   LAA
4  026c97_0          4     026c97          0    CE

In [32]:
len(df)

754

In [33]:
Image.MAX_IMAGE_PIXELS = None
im = Image.open("data/008e5c_0.tif")

In [34]:
im.size

(5946, 29694)

In [35]:
im = np.array(im)

In [36]:
im.shape

(29694, 5946, 3)

In [37]:
im = np.add.reduce(im, axis=2)//3
im.shape

(29694, 5946)

In [38]:
im.mean()

232.8209309743553

In [39]:
np.median(im)

255.0